/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-shadow:0 0 1px transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}